<%= form_for [@user, @score] do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Research Beers!</h3>
  <form>
    <div class='form-group'>
      <%= f.label 'Beer Number' %>
      <%= f.text_field :beer_id, :required=>true, :class => 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :rating %>
      <%= f.number_field :rating, :required => true, :max => 5, :class => 'form-control' %>
    </div>
    <%= f.submit 'Score!', :class => 'btn btn-info' %>
  </form>
<% end %>
