<h1>Overall Beer List</h1>
<p><%= link_to 'Back', root_path %></p>

<table class='table'>
  <thead>
    <tr>
      <th>Beer Number</th>
      <th>Beer Name</th>
      <th>Brought By</th>
      <th>Scores</th>
      <th>Overall Score</th>
    </tr>
  </thead>

  <tbody>
    <% @all_beers.each do |beer| %>
      <tr>

        <td class='col-md-1'><%= beer.id %></td>
        <td class='col-md-3'><%= beer.name %></td>
        <td class='col-md-3'><%= beer.user.name %></td>

        <td class='col-md-4'>
          <ul>
            <% beer.scores.each do |score| %>
              <li><%= score.rating %></li>
            <% end %>
          </ul>
        </td>
        <td class='col-md-4'><%= beer.average %></td>

      </tr>
    <% end %>
  </tbody>
</table>
