<%= form_for [@user, @beer] do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, :required=>true %>
    <%= f.submit %>
  </div>
<% end %>
