<!DOCTYPE html>
<html>
<head>
  <title>BeerRating</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <% if !@user %>
      <li><%= link_to 'Change Account', users_path %> </li>
      <% end %>
      <% if @user && @user.id != nil %>
        <li><%= link_to 'Add Beers!', new_user_beer_path(@user.id) %></li>
        <li><%= link_to 'Rate Beers!', user_scores_path(@user.id) %> </li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</div>

</body>
</html>
